* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

:root {
  --primary: #0d6efd;
}

img:hover{
  cursor: pointer;
}

.nav-link {
  color: white !important;
  font-weight: bolder;
  
}

.navbar-nav *{
  font-size: 0.7rem;
}

.nav-item .login {
  color: var(--primary) !important;
  background-color: whitesmoke;
  border-radius: 0;
  width: 5rem;
  margin-left: 8rem;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  margin-right: 2.5rem;
}

.search-input {
  width: 20rem !important;
  border-radius: 0;
  border-color: white;
}

.search-btn {
  border-radius: 0;
  margin-right: 1.5rem;
}

.bi-search {
  color: var(--primary);
}

#flogo {
  margin-top: 0.1rem;
  width: 4rem;
}

.logo {
  margin-right: 0;
}

/* Css for Categories */
.categories {
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 10% 1% 10%;
 
}

.cat-item > img {
  width: 100%;
  max-height: 4rem;
}

.cat-item *{
  font-size: 0.7rem;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 1%;
  min-width: 9%;
  max-width: 9%;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.cat-switch {
  border: none;
  background-color: inherit;
  justify-self: center;
  align-self: center;
}

/* This is css for carousel */



.product-card > p {
  font-size: 0.5rem;
  text-overflow: ellipsis;
}

.product-card {
  text-align: center;
  border: none;
  margin-right: 1rem;
  border-radius: 0;
  height: 11rem;
}

.carousel button {
  height: 40px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
}


.product-card > img {
  align-self: center;
  width: max-content;
  height: 50%;
}

.offer-text {
  color: green;
}

.card-row {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.advt-card * {
  font-size: 0.8rem;
  text-align: center;
}

.advt-card > img {
  width: 100%;
}

.advt-card button{
  width: 80%;
}

.btn {
  border-radius: 0;
}


.deal-container {
  padding: 0.5rem;
}

.myslide-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.advt-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  border: 1px solid yellow;
  box-shadow: 0.1rem 0.1rem 0.2rem lightgrey, -0.1rem 0.1rem 0.2rem lightgray;
}

.card {
  width: 6.5rem;
}

.heading {
  font-weight: bold;
  margin-right: 1rem;
}

.container {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.slider-bar {
  box-shadow: 0.1rem 0.1rem 0.2rem lightgrey, -0.1rem 0.1rem 0.2rem lightgray;
  margin-right: 1%;
  width: 84%;
}

.shop-now {
  box-shadow: 0.1rem 0.1rem 0.2rem lightgrey, -0.1rem 0.1rem 0.2rem lightgray;
}

.shop-now button,
.deal-container button {
  font-size: 0.7rem;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .cat-item {
    min-width: 9%;
    max-width: 9%;
    margin-right: 0.1rem;
  }

  .cat-item > div,.dropdown > label{
    font-size: 0.5rem;
  }

  .cat-item > img {
    
    max-height: 2rem;
  }

  .categories {
    flex-wrap: wrap;
    padding: 0;
    
  }

  /* Carousel */
  .myslide-container {
    flex-wrap: wrap;
  }

  

  .product-card > p {
    font-size: 0.3rem;
    text-overflow: ellipsis;
  }

  .product-card {
    
    height: 6rem;
  }

  .card-row {
    
    flex-wrap: wrap;
  }

  .card {
    width: 4rem;
  }
  
  .advt-card * {
    font-size: 0.6rem;
    text-align: center;
  }
  .nav-item .login {
    margin-left: 0;
    margin-top: 1rem;
  }

  .nav-item {
    margin-right: 0;
  }
  
  .deal-container {
    padding: 0;
  }
  .heading {
    margin-right: 0;
  }
  
  .shop-now button,
.deal-container button {
  font-size: 0.3rem;
}
}